doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(link rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
    script(type="text/javascript")

  body
    nav.navbar.navbar-default.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/') 미니게임천국
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/board/rank') | &nbsp;&nbsp; 랭킹게시판 &nbsp;&nbsp;
            li
              a(href='/board/community') | &nbsp;&nbsp; 유저게시판 &nbsp;&nbsp;
            li
              a(href='/mypage') | &nbsp;&nbsp; 마이페이지 &nbsp;&nbsp;

          #logbox
            form.navbar-form.navbar-right(action="/users/login_proc", method="post")
              div.form-group
                input.form-control(type="text", name="id", placeholder="아이디 입력")
                input.form-control(type="password", name="pwd", placeholder="비밀번호 입력")
              button.btn.btn-default(type="submit") 로그인
              button.btn.btn-default(onclick='location.href="#"') 회원가입

