<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MiniGames</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <style>
        .form-control {
            width: 70%;
        }
    </style>
</head>

<body>
    <header>
        <% include ./header %>
    </header>
    <br>
    <div class="container">
        <section class="message"> <%= message %></section>
        <div class="jumbotron">
            <form class="form-horizontal" action="/join" method="POST">
                <div class="form-group">
                    <label for="inputID" class="col-sm-2 control-label">ID</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputID" name="email" placeholder="아이디를 입력하세요.">
                        <div id="idCheck"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">USER NAME</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName" name="name" placeholder="게임내에서 사용할 이름을 입력하세요.">
                        <div id="nameCheck"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">PASSWORD</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="비밀번호를 입력하세요">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">PASSWORD CHECK</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputRePassword" placeholder="비밀번호를 다시 입력하세요">
                        <div id="pwdCheck"></div>
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="reset" class="btn btn-default btn-lg">Reset</button>
                        <button type="submit" class="btn btn-default btn-lg">Sign in</button>
                    </div>
                </div>
            </form>
        </div>

        <% include ./footer %>
    </div>

    <script>
        document.querySelector('#inputRePassword').addEventListener('keyup', function () {
            var inputPasswd = document.querySelector('#inputPassword').value;
            var inputRePasswd = this.value;
            var result = document.querySelector('#pwdCheck')
            if (inputPasswd !== inputRePasswd) {
                result.style.color = 'red';
                result.innerHTML = '비밀번호가 같지 않습니다.'

            } else {
                result.style.color = 'blue';
                result.innerHTML = '사용가능한 비밀번호 입니다.'
            }
        })
        document.querySelector("#inputID").addEventListener('keyup',function(){
            var inputData= document.getElementById("inputID").value;
            if (inputData.length<6){
                var resultDiv = document.querySelector('#idCheck')
                resultDiv.style.color = 'red';
                resultDiv.innerHTML = "아이디가 너무 짧습니다. 6글자 이상으로 정해주세요 ";

            }
            else {
                sendAjax("http://localhost:3000/check/id",inputData)
            }
            

            function sendAjax(url,data){
                var id = JSON.stringify({'id' : data});
                var xhr = new XMLHttpRequest();
                xhr.open('POST',url);
                xhr.setRequestHeader('Content-Type','application/json');
                xhr.send(id);

                xhr.addEventListener("load",function(){
                    var getData = JSON.parse(xhr.responseText);
                    var resultDiv = document.querySelector('#idCheck')
                    //이미 아이디가 있음
                    if (getData.result === "OK"){
                        resultDiv.style.color = 'red';
                        resultDiv.innerHTML = "아이디가 이미 존재합니다. ";
                    }
                    else {
                        
                        resultDiv.style.color = 'blue';
                        resultDiv.innerHTML = "사용가능한 아이디입니다.";
                    }
                })
            }
        })
        document.querySelector("#inputName").addEventListener("keyup",function(){
            var inputData = document.getElementById("inputName").value;
            if (inputData.length < 2 ){
                var resultDiv = document.querySelector('#nameCheck')
                resultDiv.style.color  = 'red';
                resultDiv.innerHTML = "닉네임이 너무 짧습니다. 2글자 이상으로 지정해 주세요 " ;
            }
            else{
                sendAjax("http://localhost:3000/check/name",inputData);
            }
        
            function sendAjax(url,data){
                var name = JSON.stringify({'name' : data});
                var xhr = new XMLHttpRequest();
                xhr.open('POST',url);
                xhr.setRequestHeader('Content-Type','application/json');
                xhr.send(name);

                xhr.addEventListener("load",function(){
                    var getData = JSON.parse(xhr.responseText);
                    var resultDiv = document.querySelector('#nameCheck')
                    //이미 닉네임이 있음

                    if (getData.result === "OK"){
                        resultDiv.style.color  = 'red';
                        resultDiv.innerHTML = "닉네임가 이미 존재합니다. " ;
                    }
                    else {
                        resultDiv.style.color = 'blue';
                        resultDiv.innerHTML = "사용가능한 닉네임입니다.";
                        }  
                })
            }
        })


    </script>
</body>

</html>