<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MiniGames</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
</head>

<body>
    <header>
        <% include ../header %>
    </header>
    <br>

    <div class="container">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"><strong>CATCH MY MIND</strong></button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">GAME2</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">GAME3</button>
            </div>
        </div>
        <br>

        <table class="table table-hover">
            <thead>
                <th>#</th>
                <th>USER</th>
                <th>SCORE</th>
                <th>COMMENTS</th>
            </thead>

            <% list.forEach((li,idx)=> { %>
                <tr>
                    <td><%= idx+1 %></td>
                    <td><%= li.name %></td>
                    <td><%= li.point %> </td>
                    <td></td>
                </tr>
            <% }) %>
        </table>



        <% include ../footer %>
    </div>
</body>

</html>