<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>Desert War</title>
    <style>
    #play_btn{
        position: relative;
        top: 500px;
}   
    canvas{
        background-image: url("../images/desertwar/startimg.png");
        width: 1000px;
        height: 700px;
    }
    #container {
        position: relative;
    }
    #container canvas, #overlay{
        position: absolute;
    }
    #foot{
        position: relative;
        top: 700px;
    }
    </style>
    
</head>
<body>
    <% include ../header%>
    <div id="wrapper">
    <div id="container" style="display: flex; justify-content: center;">
    <canvas id="myCanvas" width="1000" height="700" >
    </canvas>
    <div id="overlay">
            <button id="play_btn" onclick="init()" >Play!</button>
    </div>
</div>
    <script src="/js/desertwar.js"></script>
    <div id="foot"><% include ../footer%></div>
</body>
</html>