<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MiniGames</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="/javascript/socket/catchMyMind/script.js"></script>
</head>

<body>
    <header>
        <% include ../header %>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>Online User List</h3>
                <ul class="list-group" id="user-group">
                </ul>

            </div>
            <div class="col-md-9">
                <h1>Waiting Room</h1>
                <div class="jumbotron">
                    <div class="row featurette">
                        <div>
                            <h2 class="featurette-heading">Catch My Mind <span class="text-muted"><%= %> </span></h2>
                            <p class="lead">Game Rules</p>
                            <ul>
                                <li>그림을 그리고 싶으면 방을 생성을 합니다</li>
                                <li>방장이 게임을 시작하면 게임이 진행이 됩니다</li>
                                <li>게임에 참가하고 싶으면 생성된 방에 참가를 합니다.</li>
                            </ul>
                            <form action="#">
                                <label for="input-title"></label>
                                <input type="text" id="input-title" name="title" placeholder="방제목을 입력해주세요" required>
                                &nbsp;&nbsp;&nbsp;
                                <button type="sibmit" class="btn btn-default btn-primary" >생성하기</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="message-container"></div>
                <form id="send-container">
                    <label for="message-input">>></label>
                    <input type="text" id="message-input" width="100%">
                    <button type="submit" id="send-button">Send</button>
                </form>

                <hr>

                <table class="table">
                    <thead>
                        <th>#</th>
                        <th>방제목</th>
                        <th></th>
                    </thead>
                </table>
            </div>
        </div>
        <br>
    </div>
    <div class="container">
        <%  include ../footer %>
    </div>
</body>

</html>