<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head> 
<body>
      <table>
        <tr>
            <td colspan="2">      
                <button onclick="init()">게임 시작</button>
                <button onclick="location.href='/dodge'">재시작</button>
            </td>
        </tr>
      </table>
      <canvas id="canvas" width="600" height="400"></canvas>
    <script src="/javascript/dodge.js">
    </script>
</body>
</html>