<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head> 
<body>   
    <div class="main">    
        <canvas id="canvas" width="600" height="400"></canvas>
        <h1 id="msg">Enjoy!</h1>
    </div>
    <button style="top: 55%;" onclick="init()">게임 시작</button>
     <!-- <button style="top: 350px; left:-35%" onclick="location.href='/dodge'">재시작</button> -->
    <script src="/javascript/dodge.js"></script>
</body>
</html>