<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dodge</title>
</head> 
<body>
    <div align="center">
      <table>
        <tr>
          <td><h1 id="user"><%= name %></h1></td>
          <td><h1 id="ball" >level : </h1></td> 
          <td colspan="2"><h1 id="score">score : </h1></td>
        </tr>
      </table>
        <% include ./game.ejs%>
    </div>
</body>
</html>