<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<<<<<<< HEAD
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
=======

>>>>>>> 0b62fabfcbd752c363ce80f847230b11e7e3b16c
</head>

<body>
    <header>
        <% include ../header %>
    </header>
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <caption> 글쓰기 </caption>
            </thead>
            <tbody>
                <form action="/board/register" method="post">
                    <tr>
                        <th>제목: </th>
                        <td><input type="text" placeholder="제목을 입력하세요. " name="title" class="form-control" /></td>
                    </tr>
                    <tr>
                        <th>내용: </th>
                        <td><textarea cols="50" rows="20" placeholder="내용을 입력하세요. " name="content"
                                class="form-control"></textarea></td>
                    </tr>
                    <tr>
                        <th>비밀번호: </th>
                        <td><input type="password" placeholder="비밀번호를 입력하세요" class="form-control" name="pwd" /></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" class="btn btn-default" value="등록">
                            <input type="button" class="btn btn-default pull-left" value="reset" />
                            <input type="button" class="btn btn-default pull-right" value="글 목록으로... "
                                onclick="location.href='/board'" />
                        </td>
                    </tr>
                </form>
            </tbody>
        </table>
        <% include ../footer %>
    </div>


</body>

</html>