<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
</head>

<body>
    <header>
        <% include ../header %>
    </header>
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <caption> UPDATE </caption>
            </thead>
            <tbody>
                <form action="/board/update" method="post">
                    <tr>
                        <th>제목: </th>
                        <td><input type="text" placeholder="<%=title%>" name="title" class="form-control" required />
                        </td>
                    </tr>
                    <tr>
                        <th>내용: </th>
                        <td><textarea cols="50" rows="20" placeholder="내용을 입력하세요. " name="content"
                                class="form-control required"></textarea></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" class="btn btn-default" value="UPDATE">
                            <input type="button" class="btn btn-default pull-left" value="reset" />
                            <input type="button" class="btn btn-default pull-right" value="글 목록으로... "
                                onclick="location.href='/board'" />
                            <input type="hidden" name="no" value="<%=no%>">
                            <input type="hidden" name="name" value="<%=name%>">
                        </td>
                    </tr>
                </form>
            </tbody>
        </table>
        <% include ../footer %>
    </div>


</body>

</html>