<!DOCTYPE html5>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
  <script>
    const roomName = "<%= roomName %>"
    const name = "<%= name %>"
  </script>
  <script defer src="/socket.io/socket.io.js"></script>
  <script defer src="javascripts/script.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script defer src="javascripts/sketch.js"></script>
  <script defer src="javascripts/gameProc.js"></script>
  <style>
    #canvas {
      border: 5px solid black;
      border-radius: 50px 50px;
    }

    #message-container {

      overflow-y: scroll;
      height: 150px;
    }

    ul.list-group {
      overflow-y: scroll;
    }
  </style>
</head>


<body>
  <header>
    <% include ../header %>
  </header>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-xs-2">
        <select class="form-control col-xm-2" id="selcolor">
          <option value="black">검정</option>
          <option value="red">빨강</option>
          <option value="green">초록</option>
          <option value="blue">파랑</option>
          <option value="magenta">분홍</option>
        </select>
      </div>
      <div class="col-xs-2">
        <select class="form-control" id="selwidth">
          <option value="5">얇게</option>
          <option value="10">중간</option>
          <option value="15">굵게</option>
        </select>
      </div>

      <div class="col-xs-2">
        <input id="answer" type="text" class="form-control" placeholder="정답입력" required>
      </div>
      <h4 class="col-xs-2" id="status"></h4>
      <div class="col-xs-2" id="result"></div>
      <button class="btn btn-default pull-right" id="clear">CLEAR CANVAS</button>
      <button class="btn btn-default btn-primary pull-right" id="startBtn">GAME START</button>
    </div>
    <br>
    <div class="rows show-grid container">
      <div class="col-xs-2">
        <p class="lead">USER LIST</p>
        <ul class="list-group">
        </ul>
      </div>
      <div>
        <canvas id="canvas" class="col-xs-10" width="1140" height="600"></canvas>
      </div>

    </div>

    <br><br>
    <div class="jumbotron">
      <div id="message-container"></div>
      <form id="send-container">
        <input type="text" id="message-input" class="form-control">
        <button type="submit" id="send-button" class="btn btn-default">Send</button>
      </form>
    </div>

    <footer>
      <% include ../footer %>
    </footer>
  </div>

  <script>
    document.querySelector('#message-container').addEventListener('wheel', function (e) {
      if (e.wheelDelta < 0) {
        if ((this.scrollHeight - this.scrollTop - 200) <= 0) {
          e.preventDefault();
        }
      }
      else
        if (this.scrollTop == 0) {
          e.preventDefault();
        }
    }, false);
  </script>
</body>

</html>